<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peach.careerfit.body.model.dao.BodyRecordDao">

	<insert id="insertBodyRecord" parameterType="BodyRecord">
		INSERT INTO body_record (user_id, date, weight, bodyCondition, skeletal_muscle, body_fat, img, content)
		VALUES (#{userId}, #{date}, #{weight}, #{bodyCondition}, #{skeletalMuscle}, #{bodyFat}, #{img}, #{content})
	</insert>
	
	<select id="countBodyRecord" parameterType="BodyRecord">
		SELECT COUNT(*) 
		FROM body_record
		WHERE date = #{date} and user_id = #{userId}
	</select>
	
	<update id="updateBodyRecord" parameterType="BodyRecord">
		UPDATE body_record
		SET 
			weight = #{weight},
			skeletal_muscle = #{skeletalMuscle},
			body_fat = #{bodyFat},
			img = #{img}
		WHERE user_id = #{userId} AND date = #{date}
	</update>
	
	<delete id="deleteBodyRecord" parameterType="int">
		DELETE FROM body_record
		WHERE body_record_id = #{bodyRecordId}
	</delete>
	
	<select id="selectBodyRecordByDate" parameterType="BodyRecord" resultType="BodyRecord">
		SELECT body_record_id, user_id, date, weight, skeletal_muscle, body_fat, img, bodyCondition, content
		FROM body_record
		WHERE date = #{date} AND user_id = #{userId}
	</select>
	
	
	<select id="selectDateBodyRecord" parameterType="int">
		SELECT date, DAYOFYEAR(date) -1 AS day, weight, skeletal_muscle, body_fat
		FROM body_record
		WHERE user_id = #{userId}
		ORDER BY date
	</select>
	
</mapper>