<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peach.careerfit.meal.model.dao.MealRecordDao">
	<insert id="insertMealRecord" parameterType="MealRecord">
		INSERT INTO meal_record (user_id, date, type, img, meal_time, content, fullness)
		VALUES (#{userId}, #{date}, #{type}, #{img}, #{mealTime}, #{content}, #{fullness})
	</insert>
	
	<select id="countMealRecord" parameterType="MealRecord">
		SELECT COUNT(*) FROM meal_record
		WHERE date = #{date} and user_id = #{userId} and type = #{type}
	</select>
	
	<select id="selectMealRecordByUserId" parameterType="MealRecord" resultType="MealRecord">
		SELECT meal_record_id, user_id, date, type, img, meal_time, content, fullness FROM meal_record
		WHERE user_id = #{userId} AND date = #{date}
		ORDER BY case
					WHEN type = '아침' THEN 1
		            WHEN type = '점심' THEN 2
		            WHEN type = '저녁' THEN 3
				 END, meal_record_id;
	</select>
	
	<update id="updateMealRecord" parameterType="MealRecord">
		UPDATE meal_record
		SET
			type = #{type},
			img = #{img},
			meal_time = #{mealTime},
			content = #{content}
		WHERE meal_record_id = #{mealRecordId}
	</update>
	
	<delete id="deleteMealRecord" parameterType="int">
		DELETE FROM meal_record
		WHERE meal_record_id = #{mealRecordId}
	</delete>
	
	<select id="selectDateMealBodyRecord" parameterType="int" resultType="MealBodyRecordResponse">
		SELECT 
		    mr.date, 
		    DAYOFYEAR(mr.date) - 1 AS day, 
		    COUNT(mr.type) AS countType, 
		    br.weight, 
		    br.skeletal_muscle, 
		    br.body_fat
		FROM 
		    meal_record mr
		LEFT JOIN 
		    body_record br 
		ON 
		    mr.date = br.date
		WHERE mr.user_id = #{userId}
		GROUP BY 
		    mr.date, br.weight, br.skeletal_muscle, br.body_fat
		UNION
		SELECT 
		    br.date, 
		    DAYOFYEAR(br.date) - 1 AS day, 
		    NULL AS countType, 
		    br.weight, 
		    br.skeletal_muscle, 
		    br.body_fat
		FROM 
		    body_record br
		LEFT JOIN 
		    meal_record mr 
		ON 
		    br.date = mr.date
		WHERE 
		    mr.date IS NULL AND br.user_id = #{userId}
		GROUP BY 
		    br.date, br.weight, br.skeletal_muscle, br.body_fat	
	</select>
	
</mapper>