img {
  border: 0 !important;
  background-color: white !important;
}
.board-content-content > .ellipsis {
  max-width: 400px;
  min-width: 400px;
  max-height: 43px;
  min-height: 43px;
  margin-top: 60px;
  text-align: start;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 표시할 줄 수 */
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-weight: 400;
}
.board-content-list-group {
  display: flex;
  margin-top: 35px;
  border-top: 1px solid gray;
  min-width: 800px;
  max-width: 800px;
  justify-content: space-between;
}
.user-profile-group {
  display: flex;
  padding-top: 37px;
}
.user-profile-group:hover {
  cursor: pointer;
}
.board-content-title {
  margin-top: 15px;
  font-size: 19px;
  text-align: start;
}
.user-profile-img > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.user-profile-name {
  align-content: center;
  margin-left: 15px;
  font-weight: 600;
}
.board-content-right {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: end;
}
.board-content-left-category {
  display: flex;
  padding-top: 10px;
  margin-top: 30px;
  justify-content: start;
  font-weight: 400;
}
.board-content-right > .board-content-right-img > img {
  /* display: flex; */
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  align-items: flex-end;
  margin-top: 10px;
}
.board-content-right-footer {
  margin-top: 100px;
  display: flex;
}
.board-content-right-footer > span > img {
  width: 20px;
  height: 20px;
}
.date-time {
  display: flex;
  align-items: end;
  font-weight: 400;
}

.board-content-right-img {
  display: flex;
  justify-content: end;
  min-height: 170px;
  max-height: 170px;
}
.like-count,
.reply-count,
.view-count {
  display: flex;
  margin-left: 15px;
  align-items: end;
}

.like-count > span {
  padding-left: 5px;
  font-weight: 400;
}
.reply-count > span {
  padding-left: 5px;
  font-weight: 400;
}
.view-count > span {
  padding-left: 5px;
  font-weight: 400;
}
